# Ignore these
**/.DS_Store
**OPENWEATHER_APIKEY.js
node_modules/*
assets/json/names/*

# Whitelist those
!.gitignore
!README.md
!LICENSE

# Except that
bower_components/jquery/*
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.js
bower_components/jquery-ui/*
!bower_components/jquery-ui/jquery-ui.js
bower_components/normalize-css/*
!bower_components/normalize-css/normalize.css
